.contact_body {
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}
.right_margin {
  margin-right: 20px;
}
.left_margin {
  margin-left: 20px;
}
button.success_btn {
  background-color: #46139f !important;
  color: #fff !important;
}
button.success__b_btn {
  background-color: #ff7f50 !important;
  color: #fff !important;
}
.modal_bg {
  background-color: #46139f !important;
}
button.btn.success_btn_outline{
  border: 1px solid #46139f !important;
}
button.btn.success_b_btn_outline{
  border: 1px solid #ff7f50 !important;
}
.modal_b_bg {
  background-color: #ff7f50 !important;
}
tr.contact_tr {
  cursor: pointer;
}